.fa-drama {
    background:url(../../img/proui-2.0/my-icons/entertainment-2-20.html) top right no-repeat;
    width: 20px;
    height: 20px;
    /*background-image:url(/img/proui-2.0/my-icons/drama.png);*/
}